html {
    background-color: #35363A;
    color: white;
}

#esquema {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9vw;
}

#titulo {
    background-color: white;
    color: #35363A;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

#description,
#amount {
    border-bottom: solid white 1px;
}

#tabla {
    text-align: center;
}

th,
td {
    text-align: center;
    padding: 5px;
    border: solid black 2px;
    background: black;
}

th {
    width: 10vw;
}

.añadir {
    margin-top: 10px;
}